    <!--====== FOOTER PART START ======-->
    
    <section class="footer-area">
      <div class="container">
          <div class="row">

              <div class="col-lg-4 col-md-6 col-sm-8">
                  <div class="footer-about ">
                      <div class="logo">
                          <a href="#"><img src="/assets/images/harclean.png" style="height: 100px; width: 100px;" alt="logo"></a>
                      </div>
                      <ul>
                          <li><a href="mailto:needhelp@Harhub.com">needhelp@Harhub.com</a></li>
                          <li><a href="tel:7778880000">777 888 0000</a></li>
                          <li><a href="mailto:needhelp@Harhub.com">info@Harhub.com</a></li>
                          <li><a href="tel:7778880000">777 888 0000</a></li> <li><a href="mailto:needhelp@Harhub.com">admin@Harhub.com</a></li>
                          <li><a href="tel:7778880000">777 888 0000</a></li> <li><a href="mailto:needhelp@Harhub.com">needhelp@Harhub.com</a></li>
                          <li><a href="tel:7778880000">777 888 0000</a></li>
                      </ul>
                  </div>
              </div>

            
              <div class="col-lg-4 col-md-6 ml-6">
                  <div class="footer-address ">
                      <h3 class="title">Address</h3>
                      <p>pepsi, Hargeisa. Somaliland</p>
                      <span><i class="fa fa-map-marker"></i> Find us on Map</span>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d15737.632522278604!2d44.04896199606627!3d9.56004184838314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d9.567535399999999!2d44.0716355!4m5!1s0x1628bf57cb9d1147%3A0x79347158d79e7d59!2sharhub%20map!3m2!1d9.5525067!2d44.0468432!5e0!3m2!1sen!2sso!4v1687869529954!5m2!1sen!2sso" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
              </div>


              <div class="col-lg-4 col-md-6">
                <div class="footer-address ">
                    <h3 class="title">Twitter posts</h3>
                    <span><i class="fa fa-twitter"></i> Our latest posts</span>
                    <a class="twitter-timeline" data-height="300" data-theme="dark" href="https://twitter.com/HarHub?ref_src=twsrc%5Etfw">Tweets by HarHub</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

          </div>
      </div>
      <div class="footer-copyright-area">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="footer-copyright d-block d-md-flex justify-content-between align-items-center">
                          <p>© Copyright 2023 by HARHUB</p>
                          <ul>
                              <li><a href="https://www.facebook.com/HarHubSomaliland/"><i class="fa fa-facebook-square"></i></a></li>
                              <li><a href="https://twitter.com/HarHub"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="https://www.instagram.com/harhub_/"><i class="fa fa-instagram"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-pattern">
          <img src="/assets/images/footer-pattern.png" alt="">
      </div>
    
  </section>
  
  <!--====== FOOTER PART ENDS ======-->
  
  <!--====== GO TO TOP PART START ======-->
  
  <div class="go-top-area">
      <div class="go-top-wrap">
          <div class="go-top-btn-wrap">
              <div class="go-top go-top-btn">
                  <i class="fa fa-angle-double-up"></i>
                  <i class="fa fa-angle-double-up"></i>
              </div>
          </div>
      </div>
  </div>
  
  <!--====== GO TO TOP PART ENDS ======-->

      <!--====== jquery js ======-->
      <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
      <script src="/assets/js/vendor/jquery-3.5.0.js"></script>
  
      <!--====== Bootstrap js ======-->
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/js/popper.min.js"></script>
      
      <!--====== Slick js ======-->
      <script src="/assets/js/slick.min.js"></script>
      
      <!--====== odometer js ======-->
      <script src="/assets/js/jquery.counterup.min.js"></script>
      <script src="/assets/js/jquery.waypoints.min.js"></script>
      
      <!--====== wow js ======-->
      <script src="/assets/js/wow.js"></script>
      
      <!--====== nice select js ======-->
      <script src="/assets/js/jquery.nice-select.min.js"></script>
      
      <!--====== Magnific Popup js ======-->
      <script src="/assets/js/jquery.magnific-popup.min.js"></script>
      
      <!--====== Main js ======-->
      <script src="/assets/js/main.js"></script>
  
  </body>
  
  </html>