<!doctype html>
<html lang="en">

<head>
   
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--====== Title ======-->
    <title>Harhub</title>
    
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/assets/images/harhublogo5.png" type="image/png">
    

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    
    <!--====== flaticon css ======-->
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    
    <!--====== nice select css ======-->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    
    <!--====== animate css ======-->
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="/assets/css/slick.css">
    
    <!--====== Default css ======-->
    <link rel="stylesheet" href="/assets/css/default.css">
    
    <!--====== Style css ======-->
    <link rel="stylesheet" href="/assets/css/style.css">
  
  
</head>

<body>

    <!-- PRELOADER -->
    <div class="preloader">
        <div class="lds-ellipsis">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- END PRELOADER -->
    <!-- PRELOADER -->
    <div class="preloader">
        <div class="lds-ellipsis">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- END PRELOADER -->

    <!--====== OFFCANVAS MENU PART START ======-->

    <div class="off_canvars_overlay">
                
    </div>
    <div class="offcanvas_menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="fa fa-times"></i></a>  
                        </div>
                        <div class="offcanvas-social">
                            <ul class="text-center">
                                <li><a href="$"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="$"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="$"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="$"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active">
                                    <a href="/">Home</a>
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="/about">About</a>
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="/tour">Tour</a>
                                 
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="#">News</a>
                                    <ul class="sub-menu">
                                        <%  categories.forEach(i =>{ %>
                                            <li><a href="/<%=i.categoryName%>"><%=i.categoryName%></a></li>
                                            <% }) %>
                                            
                                    </ul>
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="/eventcards">Events</a>
                                   
                                </li>
                               
                                <li class="menu-item-has-children active">
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="offcanvas_footer">
                            <span><a href="mailto:tanvirahmed8282@gmail.com"><i class="fa fa-envelope-o"></i> layerdrops@gmail.com</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== OFFCANVAS MENU PART ENDS ======-->
   
    <!--====== HEADER PART START ======-->
    
    <header class="header-area header-2-area">
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-header-item d-flex justify-content-between align-items-center">
                            <div class="main-header-menus  d-flex">
                                <div class="header-logo">
                                    <a href="/"><img src="/assets/images/logo1.png" alt="logo"></a>
                                </div>
                                <div class="header-menu d-none d-lg-block">
                                    <ul>
                                        <li>
                                            <a class="active" href="/">Home </a>
                                        
                                        </li>
                                        <li>
                                            <a href="/about">About</a>
                                        </li>
                                        <li>
                                            <a href="/eventcards">Events </a>
                                        </li>
                                        <li><a href="/tour">Book a tour</a></li>
                                        <li>
                                            <a href="#">News  <i class="fa fa-angle-down"></i></a>
                                              <ul class="sub-menu">

                                            <%  categories.forEach(i =>{ %>
                                                <li><a href="/<%=i.categoryName%>"><%=i.categoryName%></a></li>
                                                <% }) %>
                                                
                                            </ul>
                                        </li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="header-social d-flex align-items-center">
                                <div class="info">
                                    <i class="flaticon-phone-call"></i>
                                    <h5 class="title">777 888 0000</h5>
                                    <span>Phone line</span>
                                </div>
                                <div class="toggle-btn ml-30 canvas_open d-lg-none d-block">
                                    <i class="fa fa-bars"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!--====== HEADER PART ENDS ======-->