<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/dashboard"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <img src="/assets/img/harclean.jpg" style="width: 50px" />
    </div>
    <div class="sidebar-brand-text mx-3">HarHub Admin</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Interface</div>

  <!-- Nav Item - Pages Collapse Menu -->

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseOne"
      aria-expanded="true"
      aria-controls="collapseOne"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Bookings</span>
    </a>
    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Manage bookings:</h6>
        <a class="collapse-item" href="/pendingevents">Pending bookings</a>
        <a class="collapse-item" href="/approvedevents">Approved bookings </a>
        <!-- <a class="collapse-item" href="cards.html">Today's bookings </a> -->
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Blogs</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Manage blogs:</h6>
        <a class="collapse-item" href="/blog">Add blog </a>
        <a class="collapse-item" href="/showblogs">Show blogs</a>
        <a class="collapse-item" href="/category">Blog category </a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />
  <li class="nav-item">
    <a class="nav-link" href="/event">
      <i class="fas fa-fw fa-table"></i>
      <span>Add event</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/showevents">
      <i class="fas fa-fw fa-table"></i>
      <span>Show events</span></a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/showtours">
      <i class="fas fa-fw fa-table"></i>
      <span>Tours</span></a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/testimonial">
      <i class="fas fa-fw fa-table"></i>
      <span>Add testimonial</span></a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/payment">
      <i class="fas fa-fw fa-table"></i>
      <span>Payment</span></a
    >
  </li>
  <li class="nav-item">
    <a
      href="/"
      class="nav-link btn-danger d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-3 mt-3"
      ><i class="fas fa-cancel fa-sm text-white-50"></i> Logout</a
    >
  </li>
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
